.frm-search input[type=search]:hover, .frm-search input[type=search]:focus {
  border-color: #6b7280;
  outline: none;
  box-shadow: none;
}

.select2 {
  height: 42px;
}
.select2 div {
  cursor: text;
}
.select2 input[type=text] {
  outline: none !important;
  border: none;
  box-shadow: none;
}
