.frm-search {
    input[type="search"] {
        &:hover,
        &:focus {
            border-color: #6b7280;
            outline: none;
            box-shadow: none;
        }
    }
}
.select2 {
    height: 42px;
    div {
        cursor: text;
    }
    input[type="text"] {
        outline: none !important;
        border: none;
        box-shadow: none;
    }
}
